


{% extends "../nav/index.html" %}
{% load static %}

{% block link_styles %}
<link href="{% static 'publico/css/tableros/galeriastyles.css' %}" rel="stylesheet" />
{% endblock %}

{% block cuerpo %}

<div class="menu-container">
    <button class="menu-button active" data-target="tableros-section">Tableros</button>
    <button class="menu-button" data-target="diagramas-section">Dossier Proyecto</button>
</div>

<div id="tableros-section">
    <div class="card2">
        <div class="grid">
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/FS-2025-06-05-01.+TDF-CRAC-B3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>FS-2025-06-05-01.+TDF-CRAC-B3</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/FS-2025-06-05-02. TDF-CRAC-C3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>FS-2025-06-05-02. TDF-CRAC-C3</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/FS-2025-06-05-03. TDF-MEC-B3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>FS-2025-06-05-03. TDF-MEC-B3</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/FS-2025-06-05-04. TDF-MEC-C3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>FS-2025-06-05-04. TDF-MEC-C3</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/FS-2025-06-05-05. PB-SDU-CFTV-COLO3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>FS-2025-06-05-05. PB-SDU-CFTV-COLO3</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/FS-2025-06-05-06. PB-SDU-TR3-4.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>FS-2025-06-05-06. PB-SDU-TR3-4</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-FC-001.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-FC-001</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-FC-006 R1.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-FC-006 R1</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3001.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3001</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3002.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3002</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3003.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3003</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3004.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3004</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3005.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3005</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3901.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3901</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3902.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3902</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3903.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3903</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3904.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3904</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3910.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3910</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3911.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3911</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/ODA-QR03-ELE-PL-3913.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>ODA-QR03-ELE-PL-3913</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/PB-SDU-CFTV-COLO3_SUBMITAL.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>PB-SDU-CFTV-COLO3_SUBMITAL</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/PB-SDU-TR-3-4_SUBMITAL.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>PB-SDU-TR-3-4_SUBMITAL</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/TDF-CRAC-B3_SUBMITAL.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>TDF-CRAC-B3_SUBMITAL</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/TDF-CRAC-C3_SUBMITAL.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>TDF-CRAC-C3_SUBMITAL</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/TDF-MEC-B3_SUBMITAL.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>TDF-MEC-B3_SUBMITAL</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/TDF-MEC-C3_SUBMITAL.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>TDF-MEC-C3_SUBMITAL</p>
                                </div>
                            </a>
                        </div>
                    </div>
    </div>
</div>

<div id="diagramas-section" class="hidden">
    <div class="card2">
        <div class="grid">
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/Dossier+de+Calidad.+TDF-FL-B3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>Dossier de Calidad TDF-FL-B3</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/Dossier+de+Calidad.+TDF-FL-C3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>Dossier de Calidad TDF-FL-C3</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/Dossier+de+Calidad.+TDF-FL-R3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>Dossier de Calidad TDF-FL-R3</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://hgb-imagenes.s3.us-east-2.amazonaws.com/pdf/Dossier+de+Calidad.+TDF-HVAC-B3.pdf" target="_blank">
                                <div class="card">
                                    <img src="/media-files/publico/Logo.png">
                                    <p>Dossier de Calidad TDF-HVAC-B3</p>
                                </div>
                            </a>
                        </div>
            </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.menu-button');
        const sections = document.querySelectorAll('#tableros-section, #diagramas-section');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Elimina la clase 'active' de todos los botones
                buttons.forEach(btn => btn.classList.remove('active'));
                
                // Oculta todas las secciones de contenido
                sections.forEach(section => section.classList.add('hidden'));

                // Agrega la clase 'active' al botón clickeado
                button.classList.add('active');

                // Muestra la sección que corresponde al botón
                const targetId = button.getAttribute('data-target');
                document.getElementById(targetId).classList.remove('hidden');
            });
        });
    });
</script>
{% endblock %}