.whatsapp-float {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 40px; /* Distancia desde abajo */
    right: 40px; /* Distancia desde la derecha */
    background-color: #25d366; /* Color de fondo de WhatsApp */
    color: #FFF;
    border-radius: 50px; /* Hace el botón circular */
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100; /* Asegura que esté por encima de otros elementos */
    display: flex; /* Para centrar la imagen */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.whatsapp-float img {
    width: 55px; /* Tamaño de la imagen dentro del botón */
    height: 55px;
}


html {
  scroll-padding-top: 4rem; /* Ajusta al alto de la navbar */
}
body{
  background-color: #E6E8E5;
}
main {
  position: relative;
  top: 4rem;
}

#nav {
  background: #000;
}

/* Logo y menú con sus propios márgenes */
#nav .navbar-brand {
  margin-left: 1rem;
}

#nav .navbar-nav {
  margin-right: 1rem;
}

/* Altura del logo */
#logo {
  height: 4rem;
}

.mivi{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1440px) {
  #nav .nav-link i {
    font-size: clamp(0.5rem, 2vw, 1.5rem);
  }
}




.footer-container {
  background-color: #1E1E1E;
  color: white;
  padding: 1.5rem 3rem;
  font-family: sans-serif;
}

/* Títulos y párrafos */
.footer-container h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.footer-container p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
}

/* Enlaces */
.footer-container a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
.footer-container a:hover {
  color: #9da5ad;
  transform: scale(1.05);
    gap: 1rem;
}

/* Botón “Cómo llegar” */
.direction-button {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #1E1E1E !important;
  background-color: #f8f9fa !important;
  border: 1px solid #1E1E1E;
  border-radius: 0.25rem;
  transition: background-color 0.2s, color 0.2s;
}
.direction-button:hover {
  background-color: #1E1E1E !important;
  color: white !important;
}

/* Pie */
.footer-bottom hr {
  border-color: #444;
}
.font-bold {
  font-weight: bold;
}

#navbar-search {
  width: 250px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

#navbar-search-results {
  top: 100%;
  left: 0;
  z-index: 1050;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}

#navbar-search-results.show {
  display: block;
}