{% extends "../nav/index.html" %}
{% load static %}

      {% block link_styles %}
      <link href="{% static 'publico/css/contacts/contactsstyles.css' %}" rel="stylesheet" />
      {% endblock %}

      {% block cuerpo %}


        <div class="mivi">
          <h1>Correos</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    <p >
                      <a class="redS"href="mailto:blanca.alonso@surtidoraelectrica.com"><i class="fa-regular fa-envelope">
                        </i>&nbsp;blanca.alonso@surtidoraelectrica.com
                      </a>
                    </p>
                    <p >
                      <a class="redS"href="mailto:ventas@surtidoraelectrica.com"><i class="fa-regular fa-envelope">
                        </i>&nbsp;ventas@surtidoraelectrica.com
                      </a>
                    </p>
                  </div>
              </div>
          </div>
        </div>

        <div class="mivi">
          <h1>Telefonos</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    
                    <p >
                      <a class="redS" href="tel:+5218671986248">
                        <i class="fa-solid fa-phone"></i>&nbsp;86 7198 6248
                      </a>
                    </p>
                    <p >
                      <a class="redS" href="https://wa.me/+5218671986248" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>&nbsp;86 7198 6248
                      </a>
                    </p>
                  </div>
              </div>
          </div>
        </div>

        <div class="mivi">
          <h1>Redes sosciales</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    <p><a  class="redS"href="https://www.facebook.com/SurtidoraElectricaDelNorte" target="_blank"> <i class="fab fa-facebook"></i>&nbsp;Surtidora Electrica del Norte</a>
                    </p>
                    <p><a  class="redS"href="https://www.instagram.com/surtidoraelectricadelnorte/" target="_blank"> <i  class="fab fa-instagram"></i>&nbsp;@surtidoraelectricadelnorte</a>
                    </p>  
                  </div>
              </div> 
          </div>
        </div>

          <script src="{% static 'publico/js/home/home_scripts.js' %}"></script>
      {% endblock %}
