{% extends "../nav/index.html" %}
{% load static %}

      {% block link_styles %}
      <link href="{% static 'publico/css/contacts/contactsstyles.css' %}" rel="stylesheet" />
      {% endblock %}

      {% block cuerpo %}


        <div class="mivi">
          <h1>Correos</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    <p >
                      <a class="redS"href="mailto:ventas2@hgbelectrica.com"><i class="fa-regular fa-envelope"></i>&nbsp;ventas2@hgbelectrica.com</a>
                    </p>
                    <p >
                      <a class="redS"href="mailto:ventas3@hgbelectrica.com"><i class="fa-regular fa-envelope"></i>&nbsp;ventas3@hgbelectrica.com</a>
                    </p>
                  </div>
              </div>
          </div>
        </div>

        <div class="mivi">
          <h1>Telefonos</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    
                    <p >
                      <a class="redS" href="tel:+5215552128313">
                        <i class="fa-solid fa-phone"></i>&nbsp;55 5212 8313
                      </a>
                    </p>
                    <p >
                      <a class="redS" href="https://wa.me/+5215525517423" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>&nbsp;55 2551 7423
                      </a>
                    </p>
                    <p >
                      <a class="redS" href="https://wa.me/+5215579429119" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>&nbsp;55 7942 9119
                      </a>
                    </p>
                  </div>
              </div>
          </div>
        </div>
<!--
        <div class="mivi">
          <h1>Redes sosciales</h1>
          <div id="cards">

              <div class="card">
                  <div class="galeria">
                    <p><a  class="redS"href="https://www.facebook.com/cdosaoficial/" target="_blank"> <i class="fab fa-facebook"></i>&nbsp;Centro de Distribución de Occidente</a>
                    </p>
                    <p><a  class="redS"href="https://www.instagram.com/cdosa_mx" target="_blank"> <i  class="fab fa-instagram"></i>&nbsp;@cdosa_mx</a>
                    </p>  
                  </div>
              </div> 
          </div>
        </div>
-->
          <script src="{% static 'publico/js/home/home_scripts.js' %}"></script>
      {% endblock %}
